
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Add Coffee</h2>

        <form name="coffee" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" id="title" type="text" required placeholder="Title">
            </div>
            <div class="form-group">
                <label for="imgM">Image File</label>
                <input name="img" type="file" id="imgM" required>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <select size="1" id="country" name="country" required>
                    <option disabled selected>Choose country</option>
                    <option>UK</option>
                    <option>France</option>
                    <option>Germany</option>
                    <option>Italy</option>
                    <option>Spain</option>
                    <option>Portugal</option>
                    <option>Japan</option>
                    <option>China</option>
                    <option>USA</option>
                    <option>Canada</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input name="price" step="0.01" type="number" id="price" required placeholder="Price">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="40" rows="10"></textarea>
            </div>
            <input type="submit" value="Send" class="btn btn-primary">
            <input type="reset" value="Clear" class="btn btn-warning">
            <input type="hidden" name="_csrf" value="{{token}}">
        </form>

    </div>
</div>

