body {
  padding: 1px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#countryImg{
  /* margin: 10px; */
  width: 7%;
}

img {
  margin-bottom: 5px;
  padding: 2px;
}

/*input{*/
  /*margin-left: 20px;*/
/*}*/

/*body{*/
  /*background-color: #525252;*/
/*}*/
.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}